div.content {
    width: 100%;
	float: center;
	padding-left: 20px;
	text-align: center;
}

body {
    margin: 0;
    font-family: sans-serif;
    color:rgb(39, 111, 255);
}

div.tasks, div.action {
    width: 50%;
    border: 1px solid;
    color:rgb(39, 111, 255);
    margin-left: auto;
    margin-right: auto;
}

div.add_task {
    width: 20%;
    border: 1px solid;
    color:rgb(39, 111, 255);
    margin-left: auto;
    margin-right: auto;
}

.alert {
    padding 20px;
    margin 5px;
    color:red;
    background-color:bisque;
}