{% extends 'base.html' %}

<!--Head-->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block title %}<title>YourPomodoro</title>{% endblock %}
{% endblock %}

<!--Body-->
{% block body %}
<div class="content">
    <h1>Welcome to YourPomodoro</h1>

    <div class="tasks">
        {% for task in tasks %}
                <p>{{ task['title'] }} <br/>{{ task['content'] }} <br/> {{ task['task_time'] }}</p>
                <div class ="action">
                    <a href="">Start</a> <a href="">Delete</a> <br/>
                    <a href="">Stop</a> <a href="">Update</a>
                    <br/>
                </div> <!--end of action-->
        {% endfor %}
        <br/>
    </div> <br/> <!--end of tasks-->
    
    <div class ="add_task">
        <br/>
        <form method="post">
            <textarea value = 'title' name="title" rows="1" cols="14"> {{ request.form['title'] }} </textarea>
            <textarea value = 'content' name="content" rows="5" cols="14"> {{ request.form['content'] }} </textarea>
            <select name="task_time">
                <option value='10'>10</option>
                <option value='20'>20</option>
                <option value='25'>25</option>
                <option value='30'>30</option>
            </select>
            <button type="submit">Add Task</button>
        </form>
        <br/>
    </div> <!--end of buttons-->

</div>
{% endblock %}